
  p{
    font-family:Arial;
  }
.video-title{
  
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  line-height: 35px;
  margin-bottom: 10px;
  margin-left: 30px;
  cursor: pointer;
 user-select: all;

}
  .video-starts{
    
    font-size: 20px;
    font-style: italic;
    color: black;
   margin-top: 10px;
   cursor: pointer;
   margin-left: 30px;
   user-select: all;
  }

  .video-author{
    
    font-size: 20px;
    font-style: italic;
    color: green;
    cursor: pointer;
    margin-left: 30px;
    user-select: all;
  }
  .video-Discription{
    
    font-size: 20px;
    font-style: italic;
    line-height: 35px;
    color: darkorchid;
    cursor: pointer;
    width: 1000px;
    margin-left: 30px;
    user-select: all;
  }
   
    .video-Discription{
      font-family: Tahoma;
      font-size: 20px;
      font-style: italic;
      line-height: 35px;
      cursor: pointer;
    
  }

  .apple-text{
    margin-bottom: 50px;
    font-size: 30px;
    background-color: red;
    height: 50;
    width: 820;
    line-height: 50px;
    font-style: italic;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 60px;
    font-weight: bold;
   padding-left: 25px;
   padding-right: 25;
   color: white;
   text-align: center;
   border-radius: 20px;
   
  .shop-link:hover{
    color: white;
    text-decoration: underline;

  }


  